.md-typeset .codehilite code, .md-typeset .codehilite pre, .md-typeset .highlight code, .md-typeset .highlight pre {
    background-color: rgb(30,30,30);
    border-radius: 5px;
}

.md-typeset code, .md-typeset pre {
    color: white;
}

.codehilite .nt, .md-typeset .highlight .nt {
    color: rgb(156,220,254)
}

.codehilite .s2, .md-typeset .highlight .s2 {
    color: rgb(195, 145, 120)
}

.codehilite .il, .codehilite .m, .codehilite .mf, .codehilite .mh, .codehilite .mi, .codehilite .mo, .md-typeset .highlight .il, .md-typeset .highlight .m, .md-typeset .highlight .mf, .md-typeset .highlight .mh, .md-typeset .highlight .mi, .md-typeset .highlight .mo {
    color: rgb(181,206,163)
}

.codehilite .kc, .md-typeset .highlight .kc {
    color: rgb(86,156,214)
}

.md-clipboard:before {
    color: rgb(255,255,255, 0.54);
    opacity: 0.7;
}

body > header > nav > div > div:nth-child(1) > a > img {
    width: auto;
    height: auto;
    max-height: 50px;
}